
codev/
venv/
env/
.env/
.venv/

__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
dist/
build/


.venv/
venv/
env/


.env


qdrant_storage/


cloned_repo/


.vscode/


.ipynb_checkpoints/


.DS_Store
Thumbs.db


*.log
logs/


.cache/